<!DOCTYPE html>
<html>
<head>
  <title>Partiel</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<div class="navigation">
  <ul>
    <li><%= link_to "Home", livres_path %></li>
    <li><%= link_to "Category", categories_path %></li>
    <li><%= link_to "New Livre", new_livre_path %></li>

  </ul>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>